<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro Vue</title>
  </head>
  <body>
    <div id="myApp">
      <h1>Batman quotes</h1>
      <input
        type="text"
        v-model="newQuote" 
        v-on:keypress.enter="addQuote"/>
      <hr />
      <ul>
        <li v-for="({quote, author}, index) in quotes" :key="index">
          {{index + 1}}.- {{quote}}
          <blockquote v-if="author">- {{author}}</blockquote>
        </li>
      </ul>
    </div>this.quotes.unshift({
          quote: this.newQuote,
        });
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
